{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'styling/midi_func.css' %}">
</head>
<body>
<div class="container">
  <h1>Generate A Chord Progression</h1>

  <br>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}


    <br>
    <label for="steps">Length of sequence to generate: </label>
    <select name="steps" id="steps" required>
        <option value="64">64</option>
        <option value="128">128</option>
        <option value="192">192</option>
        <option value="256">256</option>
    </select>
    <br>
    <br>
        <h2>Select notes for a primer chord:</h2>
    <label for="note1">Note 1: </label>
    <select name="note1" id="note1" required>
        <option value="60">C</option>
        <option value="61">C#/Db</option>
        <option value="62">D</option>
        <option value="63">D#/Eb</option>
        <option value="64">E</option>
        <option value="65">E#/Fb</option>
        <option value="66">F</option>
        <option value="67">F#/Gb</option>
        <option value="68">G</option>
        <option value="69">G#/Ab</option>
        <option value="70">A</option>
        <option value="71">A#/Bb</option>
        <option value="72">B</option>
        <option value="73">B#/Cb</option>
    </select>
        <br>
        <label for="note2">Note 2: </label>
    <select name="note2" id="note2" required>
        <option value="60">C</option>
        <option value="61">C#/Db</option>
        <option value="62">D</option>
        <option value="63">D#/Eb</option>
        <option value="64">E</option>
        <option value="65">E#/Fb</option>
        <option value="66">F</option>
        <option value="67">F#/Gb</option>
        <option value="68">G</option>
        <option value="69">G#/Ab</option>
        <option value="70">A</option>
        <option value="71">A#/Bb</option>
        <option value="72">B</option>
        <option value="73">B#/Cb</option>
    </select>
        <br>
        <label for="note3">Note 3: </label>
    <select name="note3" id="note3" required>
        <option value="60">C</option>
        <option value="61">C#/Db</option>
        <option value="62">D</option>
        <option value="63">D#/Eb</option>
        <option value="64">E</option>
        <option value="65">E#/Fb</option>
        <option value="66">F</option>
        <option value="67">F#/Gb</option>
        <option value="68">G</option>
        <option value="69">G#/Ab</option>
        <option value="70">A</option>
        <option value="71">A#/Bb</option>
        <option value="72">B</option>
        <option value="73">B#/Cb</option>
    </select>
    <br>
    <br>
    <button id='m_submit' type="submit">Generate</button>
    </form>
</div>
</body>
{% endblock %}