{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'styling/saved.css' %}">

	<script>

		function showDelete(){
			console.log("showDelete()");
			var th = document.getElementById("deleteHeader");
			var td = document.getElementById("deleteData");

			if (th.style.display == 'none' && td.style.display == 'none'){
				th.style.display = 'block';
				td.style.display = 'block';
			}
			else
			{
				th.style.display = 'none';
				td.style.display = 'none';
			}

		}

	</script>
</head>
<body>
    <div class="container">
        <h1>Saved Sequences Page</h1>
		<form id="selectForm" method="post">
			<input type="hidden" name="savedForms" value="selectSource">
			{% csrf_token %}
			<br>
			<div class="container">
				<label for="source">Filter by Source:</label>
				<select name="source" id="source" required>
					<option value="all">All</option>
					<option value="generated-melody">Generated Melody</option>
					<option value="generated-chords">Generated Chords</option>
					<option value="generated-drums">Generated Drums</option>
					<option value="interpolation">Interpolated Files</option>
				</select>
<!--			</form>-->
<!--			<form>-->
<!--				<input type="hidden" name="savedForms" value="selectUser">-->
				<button class='filter_button' name="seq_display" type="submit" value="all">Display All User Sequences</button>
				<button class='filter_button' name="seq_display" type="submit" value="user">Display Only Your Sequences</button>
			</div>
			</form>

	<table border = "1">
		<tr>
			<th>name</th>
			<th>user</th>
			<th>source</th>
			<div id="deleteHeader">
				<th>Delete</th>
			</div>

		</tr>
		{% for result in data%}
		<tr>
			<td>
				<form method="post">
					{% csrf_token %}
					<input type="hidden" name="savedForms" value="downloadBtn">
					<input type="hidden" name="sourceType" value="{{result.source}}">
					<button class='dl_button' name="idNum" type="submit" value={{result.id}}>{{result.name}}</button>
			</form>
			</td>
			<td>{{result.user}}</td>
			<td name="sourceType" value={{result.source}}>{{result.source}}</td>
			<div id="deleteData">
				<td>
				<form method="post">
					{% csrf_token %}
					<input type="hidden" name="savedForms" value="deleteBtn">
                  <input type="hidden" name="sourceType" value="{{result.source}}">
					<button class='dl_button' name="deleteBtn" type="submit" value={{result.id}}>Delete</button>
				</form>
			</td>
			</div>


		</tr>
		{% endfor %}
	</table>
    </div>
</body>
{% endblock %}
