{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'styling/saved.css' %}">
</head>
<body>
    <div class="container">
        <h1>Saved Sequences Page</h1>
		<form method="post">
			{% csrf_token %}
			<br>
			<div class="container">
				<label for="source">Filter by Source:</label>
				<select name="source" id="source"required>
					<option value="all">All</option>
					<option value="generated-melody">Generated Melody</option>
					<option value="generated-chords">Generated Chords</option>
					<option value="generated-drums">Generated Drums</option>
					<option value="interpolation">Interpolated Files</option>
				</select>

				<button class='filter_button' name="seq_display" type="submit" value="all">Display All User Sequences</button>
				<button class='filter_button' name="seq_display" type="submit" value="user">Display Only Your Sequences</button>
			</div>

	<table border = "1">
		<tr>
			<th>name</th>
			<th>user</th>
			<th>source</th>
		</tr>
		{% for result in data%}
		<tr>
			<td>
					<button class='dl_button' name="idNum" type="submit" value={{result.id}}>{{result.name}}</button>
			</form>
			</td>
			<td>{{result.user}}</td>
			<td name="sourceType" value={{result.source}}>{{result.source}}</td>
		</tr>
		{% endfor %}
	</table>
    </div>
</body>
{% endblock %}
