{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'styling/saved.css' %}">
</head>
<body>
    <div class="container">
        <h1>Saved Sequences Page</h1>
	<br>
	<table border = "1">
		<tr>
			<th>name</th>
			<th>user</th>
			<th>source</th>
		</tr>
		{% for result in data%}
		<tr>
			<td>
				<form method="post">
					{% csrf_token %}
					<button name="idNum" type="submit" value={{result.id}}>{{result.name}}</button>
				</form>
			</td>
			<td>{{result.user}}</td>
			<td>{{result.source}}</td>
		</tr>
		{% endfor %}
	</table>
    </div>
</body>
{% endblock %}
